@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* WHO Content IGs */
:root {
  --ig-status-text-color: #00376d;
  /* 1. IG Title and status text color */
  --navbar-bg-color: #00477d;
  /* 2. Header container color */
  --footer-bg-color: #505050;
  /* 3. Footer background color*/
  --footer-container-bg-color: #00477d;
  /* 4. Footer container color */
  --btn-hover-color: #0070A1;
  /* 6. Menu button hover color */
  --ig-header-color: #f6f7f9;
  --toc-box-border: navy;
  --toc-box-bg-color: #f6f7f9;
  --must-color: #4d0000;
  --should-color: #4d4000;
  --may-color: #00004d;
  --stripe-bg-color: #999999;
  /* 5. Header strip color */
  --btn-active-color: #0078d4;
  /* 7. Menu button active color */
  --btn-text-color: #e6e6e6;
  /* 8. Menu button text color */
  --stu-note-background-color: #fff2ff;
  /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ffa0ff;
  /* 20. (STU) Note box border color */
}



.info-box {
  border: 2px solid #004080;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f0f0f0;
  position: relative;
  font-size: 0.9em;
  line-height: 1.6;  
}

.info-title {
  font-weight: bold;
  color: #004080;
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Ensure the text and icon align vertically */
  /* padding-left: 30px; */
}

.info-box .info-title:before {
  font-family: 'Font Awesome 6 Free';
  content: ""; /* This will be dynamically filled based on the class */
  margin-right: 10px;
  display: block;
  width: 20px; /* Ensure sufficient space for the icon */
  text-align: center;
}

.info-box.must {
  border-color: var(--must-color);
}

.info-box.must .info-title,
.info-box.must .info-title:before {
  color: var(--must-color);
}

.info-box.should {
  border-color: var(--should-color);
}

.info-box.should .info-title,
.info-box.should .info-title:before {
  color: var(--should-color);
}

.info-box.may {
  border-color: var(--may-color);
}

.info-box.may .info-title,
.info-box.may .info-title:before {
  color: var(--may-color);
}
.info-box.must .info-title:before {
  content: "\f023"; /* Lock icon for "must" */
}

.info-box.should .info-title:before {
  content: "\f164"; /* Thumbs up icon for "should" */
}

.info-box.may .info-title:before {
  content: "\f05a"; /* Information circle icon for "may" */
}

.info-box pre {
  display: inline-block; /* Inline-block makes it flow in line but respect whitespace */
  background: #e1e1e1;  /* Light grey background for distinction */
  padding: 2px 4px;      /* Padding around the text */
  margin: 0 2px;         /* Margins for spacing */
  border-radius: 4px;    /* Rounded corners */
  vertical-align: middle; /* Adjusts the vertical alignment to match baseline of surrounding text */
  white-space: pre-wrap; /* Allows text to wrap if necessary */
}