<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  
  <li class="dropdown">
    <a data-toggle="dropdown" href="index.html" class="dropdown-toggle">Home<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="overview.html">Overview</a></li>
      <li><a href="assumptions.html">Assumptions</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="authoring_overview.html" class="dropdown-toggle">Authoring<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="structure.html">Structure of the SOP IG</a></li>
      <li><a href="naming_conventions.html">Naming Conventions</a></li>
      <li><a href="content_types.html">Types of content</a></li>
      <li><a href="l2_overview.html">L2 overview</a></li>
      <li><a href="authoring_artifacts.html">Authoring Artifacts</a></li>
      <li><a href="ig_licensing.html">Licensing</a></li>
      <li><a href="versioning.html">Versioning</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="ig_setup.html" class="dropdown-toggle">IG Setup<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="github_setup.html">GitHub Initialization</a></li>
	    <li><a href="ig_configuration.html">IG Configuration</a></li>
      <li><a href="folder_structure.html">Folders and File Structure</a></li>
    </ul>

  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="validating_ig.html" class="dropdown-toggle">Validating IG<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="qa_check.html">QA check</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="indices.html" class="dropdown-toggle"> Indices<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="artifacts.html">Artifact Index</a></li>
      <li><a href="maps.html">Mappings</a></li>
    </ul>
  </li>
</ul>      
